{% extends "layout.html" %}
{% block content %}
	<div class='content-section'>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" name="email" placeholder="email" id="email" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
                <select id = "studentteacher" name = "studentteacher">
                    <option value = "teacher"> Teacher</option>
                    <option value = "student"> Student</option>
                </select>
				<div class="msg">{{ message }}</div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
	</div>
{% endblock content%}